<div class="row mt-4">
    <div class="col-lg-6 offset-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3>Log In</h3>
                </div>
                <div class="card-text">
                    <form "/login" method="post">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input name="username" placeholder="Your username" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input name="password" placeholder="Your password" class="form-control"/>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary" name="button">Log In</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>